*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

ul{
    list-style: none;
}
li a {
    text-emphasis: bold;
    text-decoration: none;
    padding: 7%;
    font-size: 30px;
    font-family: Lucida Console Courier, monospace;
    display: block;
    margin: 2%;
    
}
a:hover{
    color: black;
}
.nav ul li a:hover{
    color: black;
    
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url("../pk.jpg"); width: 97%;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
padding: 10%;
font-size: 50px;
font-family: Lucida Console Courier, monospace;
color: white;
}

.body{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: Lucida Console Courier, monospace;
    background-color: rgb(133, 107, 58);
}
.narative{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: Lucida Console Courier, monospace;
    font-size: 15px;
    background-color: rgb(133, 107, 58);
}
.button{
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    font-family: Lucida Console Courier, monospace;
    font-size: 15px;
    background-color: black;
    color: white;

}
.form{
    color: white;
    background-color: rgba(12, 12, 12, 0.747);
}